/* Add here all your CSS customizations */

section.section.section-no-border {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 0 0;
}

.home-intro {
    margin-bottom: 0;
}

section.section.section-primary h2 {
    color: white;
}

p.lead {
    line-height: 35px;
}

.anchor {
}

#footer {
    padding: 0 0 0 0;
}

#footer p {
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;

}

.slide-header {
    color: white; !important;
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.slide-item span {
    color: white; !important;
    opacity: 0.95;
    font-size: 20px;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.2);
    line-height: 40px;
    white-space: nowrap;
    padding: 5px;
}

html .btn-light {
    color: #92d050;
    /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
    text-shadow: none;
    background-color: #FFF;
    border-color: #FFF #FFF #e6e6e6;
}

.bg-gradient {
    background: #92d050; !important; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(70deg, #6b993a, #aaf25c) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(70deg, #6b993a, #aaf25c) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(70deg, #6b993a, #aaf25c) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(70deg, #6b993a, #aaf25c) !important; /* Standard syntax (must be last) */
}

.home-concept p {
    line-height: 20px;
    font-weight: 200;
    font-size: 16px;
 }

/*Funky fix from the Okler team for disappearing menu items*/
@media (min-width: 991px) {
    #header .header-nav-main nav > ul > li:not(.active) > a	{
        color: #92d050 !important;
    }

    #header .header-nav-main nav > ul > li:not(.active) > a:hover	{
        color: #FFF !important;
    }

    #header .header-nav-main nav > ul > li.active > a {
        background-color: #92d050 !important;
        color: #FFF !important;
    }
}

@media (min-width: 992px) {
    #header .header-nav-main {
        margin: 7px 0 0;
    }
}
